.ProdutosV_container {
   padding: 30px;
}

/*PRODUTOS VERTICAL*/
.ProdutosV_component {
   user-select: none;
   width: 280px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   border-radius: 5px;
}
.ProdutosV_component:hover {
   box-shadow: 0 0 0.5rem rgb(184, 184, 184);
}
.ProdutosV_heart {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.ProdutosV_heart div {
   width: 20px;
   height: 20px;
   margin: 10px;
}
.ProdutosV_heart a {
   width: 20px;
   height: 20px;
   margin: 10px;
   color: black;
   cursor: pointer;
}
.heart_icon_ProdutosV-notFavorite {
   width: 20px;
   height: 20px;
   cursor: pointer;
   background-color: white;
}
.heart_icon_ProdutosV-Favorite {
   color: #ebeb11;
   width: 20px;
   height: 20px;
   cursor: pointer;
}
.pencil {
   width: 20px;
   height: 20px;
}

.ProdutosV_image {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.ProdutosV_image img {
   width: 150px;
   height: 150px;
}
.ProdutosV_name {
   width: 100%;
   height: 90px;
   display: flex;
   justify-content: center;
}
.ProdutosV_name div {
   margin-top: 15px;
   width: 80%;
   display: flex;
   text-align: center;
   justify-content: center;
}
.ProdutosV_name text {
   font-weight: bold;
   font-family: cooper black;
}
.ProdutosV_values{
   width: 100%;
}
.values_price {
   width: 60%;
   font-weight: 600;
   font-size: 20px;
   margin-left: 10px;
}
.values_discount {
   width: 50%;
   font-weight: 600;
   font-size: 12px;
   margin-top: 5px;
   margin-left: 10px;
}
.ProdutosV_carrinho {
   width: 100%;
   height: 65px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.ProdutosV_carrinho button {
   width: 85%;
   height: 45px;
   font-size: 16px;
   color: white;
   background-color: black;
   border-radius: 10px;
   border: none;
   cursor: pointer;
}
/*PRODUTOS VERTICAL - fim*/