.usuarios_main {
   width: 100%;
   display: flex;
   justify-content: center;
}
.usuarios_title {
   width: 75%;
   height: 75px;
   display: flex;
   align-items: center;
}
.usuarios_title h1 {
   font-size: 40px;
   color: #585858;
   font-weight: 800;
}