.header_container {
   width: 100%;
   height: 173px;
   user-select: none;
}

/* HEADER SUPERIOR */
.header_superior {
   background-color: black;
   width: 100%;
   height: 53px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 2px solid yellow;
} 
.header_superior_div {
   width: 17%;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
}
.header_superior_icone {
   color: yellow ;
   width: 24px;
   height: 24px;
}
.header_superior_div text {
   color: white;
   font-size: 12px;
} 
/* HEADER SUPERIOR - FIM */

/* HEADER INFERIOR */
.header_inferior {
   background-color: #3d3d3d;
   width: 100%;
   height: 120px;
   display: flex;
}
.header_inferior_logo {
   width: 20%;
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.header_inferior_logo img {
   width: 90%;
   height: 115px;
   object-fit: cover;
}
.header_inferior_navigation {
   width: 80%;
   height: 120px;
}
.header_inferior_navigation_cima {
   width: 100%;
   height: 60px;
   display: flex;
}
.navigation_cima_search {
   width: 50%;
   height: 60px;
   display: flex;
   align-items: center;
}
.search {
   background-color: #c4c4c4;
   width: 80%;
   height: 35px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   border-radius: 10px;
}
.input_header {
   background-color: #c4c4c4;
   width: 90%;
   height: 30px;
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;
   border:none;
   outline: 0;
   padding: 15px;
   font-size: 15px;
}
.input_header::-webkit-input-placeholder {
   color: #464646;
   font-size: 14px;
}
#lupa {
   font-size: 22px;
   margin-left: 12px
}
.search_usuario {
   width: 50%;
   height: 60px;
   display: flex;
   justify-content: space-around;
   color: white;
   align-items: center;
   font-size: 22px;
}
.search_usuario_person {
   display: flex;
   align-items: center;
   cursor: pointer;
   gap: 8px;
}
.search_usuario_person text {
   font-size: 14px;
}
.search_usuario_person:hover {
   text-decoration: underline;
}
#compra {
   cursor: pointer;
   font-size: 24px;
}
#compra:hover {
   color: yellow;
}
.header_inferior_navigation_baixo {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
}


.divs_nav_individual {
   font-size: 18px;
   text-decoration: none;
   color: white;
   margin-left: 20px;
   margin-right: 20px;
   padding-bottom: 18px;
   padding-top: 18px;
}
.divs_nav_individual:hover {
   color:yellow;
   border-bottom: 3px solid yellow;
}

/* HEADER INFERIOR - FIM */

