.header_container {
   width: 100%;
   user-select: none;
}

/* HEADER SUPERIOR */
.header_superior {
   background-color: black;
   width: 100%;
   height: 53px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 2px solid yellow;
} 
.header_superior_div {
   width: 17%;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
}
.header_superior_icone {
   color: yellow ;
   width: 24px;
   height: 24px;
}
.header_superior_div text {
   color: white;
   font-size: 12px;
} 
@media screen and (max-width:1400px) {
   .header_superior_div text {
      font-size: 10px;
   }
}
/* HEADER SUPERIOR - FIM */

/* HEADER INFERIOR */
.header_inferior {
   background-color: #3d3d3d;
   width: 100%;
   height: 120px;
   display: flex;
}
.header_inferior_logo {
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.header_inferior_logo button {
   display: none;
}
.header_inferior_logo img {
   width: 90%;
   height: 115px;
   object-fit: cover;
}
.header_inferior_navigation {
   width: 80%;
   height: 120px;
}
.header_inferior_navigation_cima {
   width: 100%;
   height: 60px;
   display: flex;
}
.navigation_cima_search {
   width: 50%;
   height: 60px;
   display: flex;
   align-items: center;
}
.search {
   background-color: #c4c4c4;
   width: 80%;
   height: 35px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   border-radius: 10px;
}
.input_header {
   background-color: #c4c4c4;
   width: 90%;
   height: 30px;
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;
   border:none;
   outline: 0;
   padding: 15px;
   font-size: 15px;
}
.input_header::-webkit-input-placeholder {
   color: #464646;
   font-size: 14px;
}
#lupa {
   font-size: 22px;
   margin-left: 12px
}
.header_inferior_input-mobile {
   display: none;
}
.search_usuario {
   width: 50%;
   height: 60px;
   display: flex;
   justify-content: space-around;
   color: white;
   align-items: center;
   font-size: 22px;
}
.search_usuario_person {
   display: flex;
   align-items: center;
   cursor: pointer;
   gap: 8px;
}
.search_usuario_person_link {
   font-size: 15px;
}
.search_usuario_person text {
   font-size: 14px;
}
.search_usuario_person p {
   font-size: 14px;
}
.search_usuario_person:hover {
   text-decoration: underline;
}
.search_usuario_person a {
   text-decoration: none;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.search_usuario_carrinho a {
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
#compra {
   cursor: pointer;
   font-size: 24px;
}
#compra:hover {
   color: yellow;
}
.header_inferior_navigation_baixo {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
}
.divs_nav_individual {
   font-size: 18px;
   text-decoration: none;
   color: white;
   margin-left: 20px;
   margin-right: 20px;
   padding-bottom: 18px;
   padding-top: 18px;
}
.divs_nav_individual:hover {
   color:yellow;
   border-bottom: 3px solid yellow;
}

/*MENU (MOBILE)*/
.menuMobile_container {
   width: 250px;
   height: 400px;
   background-color: #212121;
}
.div_fechar_mobile {
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: center;
}
.icone_fechar_mobile {
   width: 30px;
   height: 30px;
   color: white;
   margin: 3px;
}
.icone_fechar_mobile:hover {
   color: yellow;
}
.fundo_menu_mobile {
   width: 100%;
   height: 100vh;
   backdrop-filter: blur(10px);
   z-index: 5;
   position: absolute;
   top:0%;
   display: flex;
   justify-content: first baseline;
   align-items: first baseline;
}
.header_inferior_navigation_baixo_mobile {
   width: 100%;
   height: 60px;
   display: flex;
   flex-direction: column;
}
.divs_nav_individual_mobile {
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-left: 20px;
   margin-right: 20px;
   padding-bottom: 10px;
   padding-top: 18px;
}
.divs_nav_individual_mobile:hover {
   color:yellow;
   border-bottom: 3px solid yellow;
}
/*MENU (MOBILE) - fim*/

/* HEADER INFERIOR - FIM */

@media screen and (max-width:1200px) { 
   #icone3 {
      display: none;
   }
   .header_inferior_logo img {
      width: 100%;
      height: 80px;
   }
   .search_usuario_person p {
      display: none;
   }
   .header_inferior_navigation_baixo {
      width: 100%;
   }
   .divs_nav_individual {
      font-size: 15px;
      margin-left: 8px;
      margin-right: 10px;
   }
   #lupa {
      font-size: 22px;
      margin-left: 0px
   }
}
@media screen and (max-width:1020px) { 
   #icone1 {
      display: none;
   }
}
@media screen and (max-width:870px) { 
   #icone4 {
      display: none;
   }
   .header_container {
      background-color: #3d3d3d;
   }
   .header_inferior {
      height: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .header_inferior logo {
      height: 100%;
   }
   .header_inferior_navigation {
      height: 35%;
   }
   .header_inferior_navigation_baixo {
      display: none;
   }
   .navigation_cima_search {
      display: none;
   }
   .header_inferior_logo {
      height: 50%;
   }
   .header_inferior_logo {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }
   .header_inferior_logo img {
      width: 90%;
      height: 35%;
   }
   .header_inferior_logo a {
      width: 50%;
   }
   #aba_menu-mobile {
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: white;
   }
   .header_inferior_logo button {
      display: block;
      width: 7.5%;
      height: 7.5%;
      background-color: transparent;
      border: none;
   }

   .header_inferior_logo {
      width: 100% !important;
      height: 100% !important;
   }

   .header_inferior_logo img {
      width: 100px;
      height: 40px !important;
   }

   .header_inferior_input-mobile {
      display: block;
      display:flex;
      align-items: center;
      justify-content: center;
   }
   .search {
      width: 70%;
      margin-left: 0px;
      margin-bottom: 20px;
   }
   .header_inferior_navigation {
      width: 50%;
   }
   .search_usuario {
      width: 100%;
   }
   .input_header {
      width: 95%;
   }
   #lupa {
      margin-right: 10px;
   }
}
@media screen and (max-width:600px) { 
   .header_superior {
      display: none;
   }
   .search {
      width: 95%;
      margin-left: 0px;
   }
   #lupa {
      margin-right: 10px;
   }
   .header_inferior {
      height: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .header_inferior logo {
      height: 60px;
      height: 100%;
   }
}
@media screen and (max-width:400px) {  
   .header_inferior_logo button {
      display: block;
      width: 12%;
      height: 12%;
   }
}