.footer_container {
   background-color: #3d3d3d;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

/* FOOTER SUPERIOR */

.footer_superior {
   width: 60%;   
   display: flex;
}
.footer_superior_dev {
   width: 33%;
   color: white;
   height: auto;
}
.footer_superior_dev img {
   width: 100%;
   height: 155px;
   object-fit: cover;
   margin-top: 40px;
}
.footer_superior_negrito {
   font-weight: bolder;
}
#footer_superior_link {
   color: white;
   text-decoration: none;
   font-weight: bolder;
}
#footer_superior_link:hover {
   color: yellow;
}
.footer_superior_redes {
   width: 34%;
   display: flex;
   justify-content: center;
}
.footer_superior_redes_div {
   width: 60%;
   height: 100px;
   margin-top: 70px;
   margin-left: 30px;
}
#footer_superior_redes_titulo {
   color: white;
   font-size: 16px;
   font-weight: bolder;
}
.footer_superior_redes_div div {
   margin-top: 20px;
}
.redes_icons {
   color: white;
   font-size: 35px;
   cursor: pointer;
}
#insta:hover {
   color: rgb(247, 131, 218);
}
#face {
   margin-left: 15px;
}
#face:hover {
   color: rgb(106, 106, 250);
}
#zap {
   margin-left: 15px;
}
#zap:hover {
   color: rgb(115, 253, 115);
}
.footer_superior_pagamento {
   width: 33%;
}
.footer_superior_pagamento_div {
   width: 80%;
   height: 100px;
   margin-top: 70px;
   margin-left: 30px;
   color: white;
}
.footer_superior_pagamento_div text {
   font-size: 16px;
   font-weight: bolder;
}
.pagamento_icons_div {
   margin-top: 18px;
}
.pagamento_icons {
   color: white;
   font-size: 50px;
   margin-right: 20px;
}

/* FOOTER SUPERIOR - FIM */

/* FOOTER INFERIOR  */

.footer_inferior {
   width: 40%;   
   display: flex;
   justify-content: center;
   padding: 5px;
   margin-top: 50px;
}
.footer_inferior text {
   color: white;
   font-size: 15px;
}

/* FOOTER SUPERIOR - FIM */

@media screen and (max-width:1350px) {
   .footer_superior_pagamento {
      display: none;
   }
   .footer_superior {
      width: 60%;   
      display: flex;
      justify-content: center;
   }
   .footer_superior_dev img {
      width: 100%;
      height: 100px;
   }
}

@media screen and (max-width:1120px) {
   .footer_superior {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .footer_superior_redes {
      display: none;
   }
   .footer_inferior {
      margin-top: 50px;
      padding-bottom: 10px;
   }
   .footer_inferior text {
      font-size: 12px;
   }
}
@media screen and (max-width:870px) {
   .footer_superior {
      width: 100%;
   }
   .footer_superior_dev img {
      width: 100%;
      height: 120px;
   }
   .footer_superior_negrito {
      font-size: 15px;
   }
   .footer_superior_link {
      font-size: 15px;
   }
   .footer_inferior {
      margin-top: 50px;
      padding-bottom: 13px;
   }
   .footer_superior_inform {
      font-size: 15px;
   }
   .footer_inferior text {
      font-size: 10px; 
      width: 100%;
   }
}
@media screen and (max-width:600px) {
   .footer_superior_dev img {
      width: 100%;
      height: 80px;
   }
   .footer_superior_negrito {
      font-size: 12px;
   }
   .footer_superior_link {
      font-size: 10px;
   }
   .footer_superior_inform {
      font-size: 10px;
   }
   .footer_inferior {
      margin-top: 50px;
      padding-bottom: 10px;
      text-align: center;
   }
   .footer_inferior text {
      font-size: 10px;
   }
}
@media screen and (max-width:420px) {
   .footer_superior_dev img {
      width: 100%;
      height: 50px;
   }
}